@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    "Rethink Sans Variable", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-default: #2d2d2d;
  --color-default-soft: #696969;
  --color-default-strong: #000000;

  --color-primary: #02ac8a;
  --color-primary-soft: #e9f2e1;
  --color-primary-accent: #e4eddb;
  --color-primary-medium: #a1b58f;
  --color-primary-strong: #105e59;

  --color-mindaro: #d6ed89;

  --color-muted: #2c3b2a;
  --color-muted-soft: #f9fafb;
  --color-muted-strong: #e5e7eb;

  --color-success: #34d399;
  --color-success-soft: #e3fcef;
  --color-success-strong: #047857;

  --color-warning: #fbbf24;
  --color-warning-soft: #fffaeb;
  --color-warning-strong: #a16207;

  --color-danger: #ef4444;
  --color-danger-soft: #fef2f2;
  --color-danger-strong: #7f1d1d;

  --color-info: #3b82f6;
  --color-info-soft: #eff6ff;
  --color-info-strong: #1e40af;

  --color-terracotta: #e67d5f;
  --color-terracotta-soft: #faf3f0;
  --color-terracotta-medium: #f0b8a6;
  --color-terracotta-strong: #b85a3d;
}
