---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const logos = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/clients/*.svg",
);
---

<div class="flex flex-wrap justify-center gap-5">
  {
    Object.keys(logos).map((imagePath) => {
      return (
        <div class="h-32 w-44 rounded-xl bg-white px-8 py-7">
          <Image
            src={logos[imagePath]()}
            alt="logo"
            class="h-full w-full object-contain"
          />
        </div>
      );
    })
  }
</div>
