---
import Container from "./container.astro";
import Logo from "assets/logo-white.svg";
import { Image } from "astro:assets";
import NewsletterSignup from "@components/ui/NewsletterSignup.astro";
import { Icon } from "astro-icon/components";
---

<footer class="mt-16 bg-primary-strong pt-24">
  <Container>
    <NewsletterSignup />
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 md:gap-10">
      <div>
        <h2 class="mb-4 text-4xl font-semibold text-white">
          <Image src={Logo} alt="With Otto logo" />
        </h2>
      </div>
      <div>
        <ul class="leading-10">
          <li>
            <a href="/capture/" class="text-lg font-light text-white">
              Otto Capture
            </a>
          </li>
          <li>
            <a
              href="/bank-reconciliation/"
              class="text-lg font-light text-white">
              Bank Reconciliation
            </a>
          </li>
          <li>
            <a href="/blog/" class="text-lg font-light text-white">Blog</a>
          </li>
          <li>
            <a href="/faqs/" class="text-lg font-light text-white">FAQs</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="leading-10">
          <li>
            <a
              href="/security-and-privacy/"
              class="text-lg font-light text-white">
              Security and Privacy
            </a>
          </li>
          <li>
            <a
              href="/terms-and-conditions/"
              class="text-lg font-light text-white">
              Terms and Conditions
            </a>
          </li>
          <li>
            <a href="/privacy-policy/" class="text-lg font-light text-white">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="/cookie-policy/" class="text-lg font-light text-white">
              Cookie Policy
            </a>
          </li>
          <li>
            <a href="/brand-kit/" class="text-lg font-light text-white">
              Brand Kit
            </a>
          </li>
        </ul>
        <li class="flex items-center gap-2">
          <a
            href="https://status.withotto.app"
            class="text-lg font-light text-white"
            target="_blank">
            Status
          </a>
          <Icon
            name="hugeicons:link-square-01"
            size={32}
            class="size-4 text-white"
          />
        </li>
      </div>
      <div>
        <ul class="leading-10">
          <li class="flex items-center gap-2">
            <Icon
              name="hugeicons:linkedin-02"
              size={32}
              class="size-4 text-white"
            />

            <a
              href="https://www.linkedin.com/company/with-otto/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-lg font-light text-white">
              LinkedIn
            </a>
          </li>
          <li class="flex items-center gap-2">
            <Icon
              name="hugeicons:youtube"
              size={32}
              class="size-4 text-white"
            />

            <a
              href="https://www.youtube.com/@WithOtto"
              target="_blank"
              rel="noopener noreferrer"
              class="text-lg font-light text-white">
              YouTube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="mt-16 flex flex-col gap-2 border-t border-white border-opacity-20 py-10 text-center md:flex-row md:justify-between md:text-start">
      <div class="font-light text-white">
        <p>Copyright &copy; {new Date().getFullYear()} With Otto Limited</p>
        <p>Registered in England and Wales, company number 15923965</p>
        <p>Registered office: 27 Old Gloucester Street, London, WC1N 3AX</p>
        <p>VAT number: 476382654</p>
      </div>
      <p class="font-light text-white">
        Made with ☕️ and 🐕 in Ely, Cambridgeshire
      </p>
    </div>
  </Container>
</footer>
