---
import Container from "@components/container.astro";
import { Image } from "astro:assets";
import vectorImagebg from "assets/frame2.svg";
import customReport from "assets/graph.png";
import salesFigure from "assets/graph2.png";
---

<!--====================== Custom report ======================-->
<div class="bg-primary-soft py-24">
  <Container>
    <div class="grid grid-cols-1 items-center gap-10 md:grid-cols-2">
      <div class="relative">
        <div class="absolute -bottom-1/4 -left-1/3 z-0 hidden 2xl:block">
          <Image src={vectorImagebg} alt="" />
        </div>
        <Image src={customReport} alt="" class="mx-auto md:mx-0" />
      </div>
      <div>
        <h3
          class="text-3xl font-bold leading-normal text-primary-strong md:text-4xl">
          Custom report that guides your decision making
        </h3>
        <p class="py-8 text-lg leading-7 leading-8 text-primary-strong">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over Various versions have evolved over the years.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-10">
          <div>
            <ul>
              <li class="flex gap-3">
                <div
                  class="flex h-5 w-5 items-center justify-center rounded-full bg-primary-accent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="flex items-center font-medium text-primary-strong">
                  Fusce ultrices urna in massa.
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="flex h-5 w-5 items-center justify-center rounded-full bg-primary-accent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="flex items-center font-medium text-primary-strong">
                  There are many variations
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="flex h-5 w-5 items-center justify-center rounded-full bg-primary-accent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="flex items-center font-medium text-primary-strong">
                  Contrary to popular belief
                </span>
              </li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="flex gap-3">
                <div
                  class="flex h-5 w-5 items-center justify-center rounded-full bg-primary-accent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="flex items-center font-medium text-primary-strong">
                  Fusce ultrices urna in massa.
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="flex h-5 w-5 items-center justify-center rounded-full bg-primary-accent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="flex items-center font-medium text-primary-strong">
                  It is a long established fact that
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="flex h-5 w-5 items-center justify-center rounded-full bg-primary-accent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="flex items-center font-medium text-primary-strong">
                  Lorem Ipsum comes from
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
<!--//End Custom report -->

<!--====================== Daily monitor ======================-->
<div class="bg-primary-soft md:py-24">
  <Container>
    <div class="grid grid-cols-1 items-center gap-10 sm:grid-cols-2">
      <div>
        <h3
          class="max-w-xl text-3xl font-bold leading-normal text-primary-strong [text-wrap:balance] md:text-4xl">
          Monitor daily or weekly sales figures.
        </h3>
        <p class="pt-8 text-lg leading-8 text-primary-strong">
          combined with a handful of model sentence structures, to generate
          Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
          therefore always free from repetition, injected humour, or
          non-characteristic words
        </p>
      </div>
      <div class="relative">
        <div class="absolute -right-1/4 -top-1/4 z-0 hidden 2xl:block">
          <Image src={vectorImagebg} alt="" />
        </div>
        <Image src={salesFigure} alt="" />
      </div>
    </div>
  </Container>
</div>
<!--//End Daily monitor -->
