---
const { url } = Astro.props;
---

<div class="mt-10 flex items-center justify-center gap-4">
  {
    url.prev && (
      <a
        class="rounded-md bg-gray-100 px-5 py-2 transition hover:bg-gray-200"
        href={url.prev}
        title="Go to Previous">
        &larr; Prev
      </a>
    )
  }
  {
    url.next && (
      <a
        class="rounded-md bg-gray-100 px-5 py-2 transition hover:bg-gray-200"
        href={url.next}
        title="Go to Next">
        Next &rarr;
      </a>
    )
  }
</div>
