---
import Container from "@components/container.astro";
import FeaturesCol from "@components/features-col.astro";
---

<!--====================== Our Solutions ======================-->
<div class="py-24" id="features">
  <Container>
    <div>
      <h2
        class="text-center text-3xl font-bold text-primary-strong md:text-5xl">
        How Otto transforms your practice
      </h2>
      <p class="mx-auto mt-6 max-w-4xl text-lg text-default">
        Transform your practice's reconciliation process with Otto, your
        intelligent bookkeeping assistant. Using advanced machine learning, Otto
        handles the time-consuming task of transaction matching, letting you
        focus on providing higher-value services to your clients. Whether you
        manage a handful of clients or hundreds, Otto scales with your practice
        while maintaining exceptional accuracy.
      </p>
    </div>
    <div class="mt-20">
      <FeaturesCol />
    </div>
  </Container>
</div>
<!--//End Our Solutions -->
