---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="Your Reconciliation Revolution Starts Here at DAS 2025">
  <div class="py-12">
    <Container>
      <div class="z-10 mb-14">
        <h2
          class="mx-auto max-w-3xl text-center text-3xl font-bold text-primary-strong md:text-5xl">
          Your Reconciliation Revolution Starts Here at DAS 2025
        </h2>
        <p class="mx-auto max-w-3xl pt-8 text-lg text-primary-strong">
          Visit stand A27 today to see how machine learning can eliminate hours
          of manual reconciliation work
        </p>
        <p class="mx-auto mt-4 max-w-3xl">
          My team is here at the Digital Accountancy Show demonstrating how my
          machine learning capabilities are revolutionising bank reconciliation
          for practices across the UK.
        </p>
        <p class="mx-auto mt-4 max-w-3xl">
          Built by accountants who understand your daily challenges, I've been
          designed to tackle the specific pain points that make reconciliation
          so time-consuming. Unlike traditional automation tools, I learn from
          your clients' actual transactions, as well as your feedback,
          continually improving my matching accuracy.
        </p>

        <div
          class="mx-auto mb-8 mt-8 flex flex-wrap justify-center text-center">
          <a
            href="https://go.withotto.app/ottos-das-challenge"
            target="blank"
            rel="noopener noreferrer"
            class="w-full rounded-lg bg-primary px-8 py-5 text-lg font-medium text-white shadow transition hover:bg-primary-strong sm:w-auto">
            Here for the quiz?
          </a>
        </div>

        <h3
          class="mx-auto mb-2 mt-6 max-w-3xl text-2xl font-bold text-primary-strong">
          What Awaits You at Our Stand
        </h3>
        <ul class="mx-auto max-w-3xl list-disc pl-5">
          <li>
            Find out how automated bank reconciliation can fit into your
            existing processes and how to get the most out of bank rules and
            your existing receipt capture tool
          </li>
          <li>
            Book your personalised onboarding call (for each booking, we'll
            plant 5 trees in the UK through Ecologi)
          </li>
          <li>
            ur special DAS quiz with a eufy L60 robot vacuum cleaner as the
            prize—because automation shouldn't stop at the office!
          </li>
          <li>Enjoy a Wherther's Original (or two!), Otto's favourite sweet</li>
        </ul>
        <p class="mx-auto mt-4 max-w-3xl">
          Book your onboarding call at DAS and join the growing community of
          forward-thinking practices working With Otto to reclaim their time
          whilst supporting a greener future.
        </p>
        <h3
          class="mx-auto mb-2 mt-6 max-w-3xl text-2xl font-bold text-primary-strong">
          Why Have an Onboarding Call?
        </h3>
        <p class="mx-auto mt-4 max-w-3xl">
          A proper introduction makes all the difference. Join us for an hour of
          guided setup that will transform how you handle reconciliation.
        </p>
        <p class="mx-auto mt-4 max-w-3xl">
          Your onboarding session is more than a product demo—it's a
          collaborative consultation where we understand your practice's needs
          and offer specific advice about getting the most out of Otto. We will
          walk you through every aspect of the system, from initial setup to
          daily operation, ensuring you get the most value from your trial.
        </p>
        <p class="mx-auto mt-4 max-w-3xl">During your session, we will:</p>
        <ul class="mx-auto max-w-3xl list-disc pl-5">
          <li>
            Find out what you're hoping to achieve by bringing Otto into your
            practice
          </li>
          <li>Explain how Otto's machine learning adapts to your workflow</li>
          <li>
            Guide you through the With Otto portal, showing you how to monitor
            and manage reconciliation
          </li>
          <li>
            Help you invite Otto to your practice and assign the first group of
            trial clients
          </li>
          <li>
            Answer any questions about security, compliance, and best practices
          </li>
        </ul>
        <p class="mx-auto mt-4 max-w-3xl">
          Why do we prefer personal onboarding? Because every practice is
          unique. This dedicated time ensures Otto you have all the information
          you need to get Otto working to his maximum potential, leading to
          better results from day one.
        </p>
        <div
          class="embedded-booking mx-auto max-w-3xl"
          data-url="https://bookings.withotto.app"
          data-query="&t=s&uuid=9efe86c2-31c3-4038-ac5c-94e6a62b9350"
          data-lang="en"
          data-autoresize="1"
          data-showsidebar="1"
          style="min-width: 320px; height: 768px;">
        </div>
        <script
          is:inline
          type="text/javascript"
          src="https://bookings.withotto.app/embed.js"
          async></script>
      </div>
    </Container>
  </div>
</Layout>
