---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

export interface Props {
  frontmatter: {
    title: string;
    subtitle: string;
  };
}

const {
  frontmatter: { title, subtitle },
} = Astro.props;
---

<style is:global>
  .content-wrapper {
    p {
      @apply mx-auto my-4 max-w-3xl;
    }

    ul {
      @apply mx-auto mb-6 max-w-3xl list-disc pl-5;
    }

    h2 {
      @apply mx-auto mb-2 mt-6 max-w-3xl text-2xl font-bold;
    }

    nav.toc-list {
      @apply hidden;
    }
  }
</style>

<Layout title={title}>
  <div class="py-24">
    <Container>
      <div class="z-10 mx-auto mb-14 max-w-3xl">
        <h2
          class="space-y-11 text-center font-bold text-primary-strong md:text-5xl">
          {title}
        </h2>
        <p class="pt-8 text-lg">
          {subtitle}
        </p>
        <div class="content-wrapper">
          <slot />
        </div>
        <div
          class="embedded-booking"
          data-url="https://bookings.withotto.app"
          data-query="&t=s&uuid=9efe86c2-31c3-4038-ac5c-94e6a62b9350"
          data-lang="en"
          data-autoresize="1"
          data-showsidebar="1"
          style="min-width: 320px; height: 768px;">
        </div>
        <script
          is:inline
          type="text/javascript"
          src="https://bookings.withotto.app/embed.js"
          async></script>
      </div>
    </Container>
  </div>
</Layout>
