---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import type { SEOProps } from "astro-seo";

export interface Props {
  frontmatter: {
    title: string;
    subtitle: string;
    affiliateProgramId?: string;
    seo?: Partial<SEOProps>;
  };
}

const { frontmatter } = Astro.props;
const { title, subtitle, affiliateProgramId, seo } = frontmatter;
---

<style is:global>
  .content-wrapper {
    p {
      @apply mx-auto my-4 max-w-3xl;
    }

    ul {
      @apply mx-auto mb-6 max-w-3xl list-disc pl-5;
    }

    h2 {
      @apply mx-auto mb-2 mt-6 max-w-3xl text-2xl font-bold;
    }

    h3 {
      font-weight: bold;
    }

    nav.toc-list {
      @apply hidden;
    }
  }
</style>

<Layout title={title} affiliateProgramId={affiliateProgramId} seo={{ noindex: true, ...seo }}>
  <div class="py-12">
    <Container>
      <div class="z-10 mx-auto mb-14 max-w-3xl">
        <h2
          class="mx-auto max-w-3xl text-center text-3xl font-bold text-primary-strong md:text-5xl">
          {title}
        </h2>
        <p class="pt-8 text-lg">
          {subtitle}
        </p>
        <div class="content-wrapper">
          <slot />
        </div>
      </div>
    </Container>
  </div>
</Layout>
